<body>
  <app-header></app-header>

  <div
    style="
      display: flex;
      flex-direction: row;
      margin-top: 0px;
      margin-left: 280px;
      margin-right: 150px;
    "
  >
    <div style="margin-left: 10px; margin-right: 10px" class="container">
      <form
        style="
          width: 100%;
          margin-left: 10px;
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-top: -80px;
        "
        class="form"
      >
        <!-- file -->
        <div style="width: 100%; margin-top: 0px; margin-left: -90px">
          <img
            src="{{ imageUrl || data[0].avatar }}"
            alt="your Image"
            style="
              width: 350px;
              height: 350px;
              margin-left: 20%;
              border-radius: 20px;
              object-fit: cover;
            "
          />
        </div>
        <!-- เนื้อหาฝั่งขวา: ฟอร์ม -->
        <div style="width: 100%">
          <label for="Username" class="label">Username</label>
          <input
            type="text"
            value="{{ data[0].username }}"
            placeholder="{{ data[0].username }}"
            id="UserName"
            name="UserName"
            class="input"
            [(ngModel)]="username"
          />
          <!-- <label for="Name" class="label">Name</label>
          <input type="text" value="{{Data_User[0].Name}}" placeholder="{{Data_User[0].Name}}" id="Name" name="Name"  class="input" [(ngModel)]="Name"> -->
          <label for="Email" class="label">Email</label>
          <input
            type="Email"
            value="{{ data[0].email }}"
            placeholder="{{ data[0].email }}"
            id="Email"
            name="Email"
            class="input"
            [(ngModel)]="email"
          />
          <label for="Avatar" class="label">Choose Image </label><br /><br />
          <label for="file" class="button upload-btn"
            >Choose File here !!

            <input
              type="file"
              id="avatar"
              name="avatar"
              accept="image/*"
              [(ngModel)]="avatar"
              (change)="FileSelected($event)"
            />
          </label>
          <!-- คำเตือน -->
          <h1 style="color: red; margin-right: 155%; margin-bottom: -2%">*</h1>
          <!-- <label for="Password" class="label">ConfirmPassword</label>
          <input
            type="Password"
            id="Password"
            name="Password"
            required="Please enter information"
            class="input"
            [(ngModel)]="Password"
          /> -->
          <!-- ปุ่ม -->
          <div
            style="display: flex; justify-content: space-between; width: 100%"
          >
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="frofile(data[0].userID)"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
